name: Sync data in sqlite

on:
  schedule:
    - cron:  '0 0 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install
        run: yarn install
      - name: Place config file
        run: cp keys4.config.example.ts ./app/keys4.config.ts
      - name: Prepare db
        run: yarn workspace app init:db
      - name: Sync
        run: yarn app:codegen && yarn app:start:prod
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # - name: Check diff
      #   id: diff
      #   run: |
      #     git add -N .
      #     git diff --name-only --exit-code ./app/db.sqlite3
      #   continue-on-error: true
      - name: Commit & Push
        run: |
          set -x
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com
          git add -f ./app/db.sqlite3
          git switch gh-pages
          git commit -m 'chore: sync data'
          git push
        # if: steps.diff.outcome == 'failure'
