name: Sync data in sqlite

on:
  schedule:
    - cron:  '0 0 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install
        run: yarn install
      - name: Place config file
        run: cp keys4.config.example.ts ./app/keys4.config.ts
      - name: Prepare db
        run: wget https://storage.googleapis.com/keys4/myuon/db.sqlite3 -O ./app/db.sqlite3
      - name: Sync
        run: yarn app:codegen && yarn app:start:prod
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
          workload_identity_provider: 'projects/230906399487/locations/global/workloadIdentityPools/default-pool/providers/github'
          service_account: 'default@default-364617.iam.gserviceaccount.com'
      - id: 'upload-file'
        uses: 'google-github-actions/upload-cloud-storage@v0'
        with:
          path: './app/db.sqlite3'
          destination: 'keys4/myuon'
